.cal-disabled {
  background-color:#eee;
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.4;
}

.cal-month-view .cal-cell-row .cal-cell:hover{
 background-color: lightpink;
}

.cal-month-view .cal-day-cell{
  min-height: auto;
  max-width: 100%;
}

.cal-month-view .cal-header .cal-cell:hover{
  background-color: white !important;
}

.cal-month-view .cal-cell-row:hover {
  background-color: white !important;
}
.cal-month-view .cal-header .cal-cell{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

label, select{
  font-size: 18px;
}

h3{
  text-transform: capitalize;
}
h3, h5{
  margin: 20px;
}
