.container-fluid{
  margin: 0;
  padding: 0;
}

#imagen{
  position: relative;
}

/*esta classe oculta el sobrante de la imagen para no deformarla*/
.imagen_container{
  width: 100%;
  overflow: hidden;
}

#fondo{
  position: relative;
  display: inline-block;
  text-align: center;
}

#texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#texto h1{
  font-size: 300px;
  font-weight: bold;
  text-shadow: black  5px 5px 20px;
}

#texto p{
  font-size: 50px;
  text-shadow: black  5px 5px 20px;

}

#boton{
  box-shadow: black 2px 2px 5px;
}

#boton a{
  text-decoration: none;
  color: grey;
  font-size: x-large;
}

/* pantalles grans */
@media (min-width: 1200px) {
  .imagen_container{
    height: 850px;
  }
}

/* Ordenadors */
@media (min-width: 992px) and (max-width: 1400px) {

  #texto h1{
    font-size: 150px;
    font-weight: bold;
    text-shadow: black  5px 5px 20px;
  }


  #texto p{
    font-size: 40px;
    text-shadow: black  5px 5px 20px;

  }

  #boton a{
    font-size: x-large;
  }
}


/* tablets */
@media (min-width: 768px) and (max-width: 992px) {
  #texto h1{
    font-size: 100px;
    font-weight: bold;
    text-shadow: black  5px 5px 20px;
  }
  #texto p{
    font-size: 30px;
    text-shadow: black  5px 5px 20px;

  }

  #boton a{
    font-size: medium;
  }

 }

/* mobil */
@media (max-width: 768px){

  #texto h1{
    font-size: 60px;
    font-weight: bold;
    text-shadow: black  5px 5px 20px;
    margin: 0;
  }

  #texto p{
    font-size: 20px;
    text-shadow: black  5px 5px 20px;
    margin-bottom: 0;
  }

  #boton a{
    font-size: small;
  }

}
