.container {
  /* background-color: #1976d2; */
  background-color: whitesmoke;
  border-bottom-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  max-width: 100%;
}
.row{
  align-items: baseline;
}
 
#menuNav {
  justify-content: center;
}
.navbar a {
  font-size: 120%;
}
a{
  color: grey;
}
.name{
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}
#logo {
  /*width:7%;
  height:7%; */
  border-radius: 50%;
}
#branding span{
  margin-left: 15px;
}

#selectorIdioma .btn{
  background-color:#d3d3d338; 
}

.idioma{
  min-width: fit-content;
  border: none;
  background-color: whitesmoke; 
}

/* per a mòbil */
@media only screen and (max-width: 600px) {
  #menu{
    order: 1;
    padding: 0;
    /* align-items: baseline; */
  }
  #menuNav{
    align-items: flex-start;
  }

  #branding{
    order: 2;
    text-align: center !important;
  }
  #branding a{
    margin: 0;
  }
  #branding span{
    display: none !important;
  }
  #selectorIdioma{
    order: 3;
  }
  
}