.navbar {
  /* background-color: #1976d2; */
  background-color: whitesmoke;
  border-bottom-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}

.navbar a {
  font-size: 120%;
}
.titulo {
  font-size: x-large !important;
  font-weight: bold;
  font-style: italic;
}
#mobileNav {
  justify-content: center;
}

#logo {
  /*width:7%;
  height:7%; */
  border-radius: 50%;
}
.branding span{
  margin-left: 15px;
}

.idioma{
  border: none;
   background-color: whitesmoke; 
  min-width: max-content;
}
.selectorIdioma .btn{
  background-color: lightgray; 
}
.dropdown{
  inline-size: fit-content;
  margin-left: 10px;
}

/* per a mòbil */
@media only screen and (max-width: 600px) {
  .menu{
    order: 1;
    padding: 0;
  }
  #mobileNav{
    align-items: flex-start;
  }
  .branding{
    order: 2;
    text-align: center;
  }
  .branding a{
    margin: 0;
  }
  .selectorIdioma{
    order: 3;
  }
 .branding span{
    display: none !important;
  }
  #navMenu{
    align-items: baseline;
  }
}