<div class="row text-center">

  <div class="alert alert-info col-md-12" >
    <div *ngIf= "!clickedDate; else exist">
      <strong>Selecciona dia a reservar </strong>
    </div>
    <ng-template #exist>
        <label>Dia seleccionat: </label>
        <div class="form-group row text-center">
        <p><strong>{{ clickedDate | date: 'EEEE, d  MMMM De yyyy': 'localeEs' | uppercase}}</strong></p>
        <button type="button" (click)="sendDate()" class="btn btn-light"> Confirmar dia </button>
      </div>

    </ng-template>

  </div>

  <div class="col-md-12">
    <div class="btn-group">
      <button
        class="btn btn-primary"
        (click)="decrement()"
        [disabled]="prevBtnDisabled"
      >
        Anterior
      </button>
      <button class="btn btn-outline-secondary" (click)="today()">Hui</button>
      <button
        class="btn btn-primary"
        (click)="increment()"
        [disabled]="nextBtnDisabled"
      >
        Següent
      </button>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
  </div>
</div>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    (beforeViewRender)="beforeMonthViewRender($event)"
    (dayClicked)="clickedDate = $event.day.date"
  >
  </mwl-calendar-month-view>

