<div class="container-fluid">
  <div id="imagen">
    <img class="mx-auto d-block" src="../../assets/images/plato.jpg" alt="logotipo restaurant">
  </div>
  <div id="cartes col-xs-12">
    <div class="row col-lg-10 offset-lg-1 mx-auto">
      <div id="carta" class="card col-lg-5 pb-3 mb-5">
        <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Menú 1</h3>
        <img src="{{carta1}}" alt="Carta 1" class="card-img">
      </div>
      <div id="carta" class="card col-lg-5 offset-lg-2 pb-3 mb-5">
        <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Menú 2</h3>
        <img src="{{carta2}}" alt="Carta 1" class="card-img">
      </div>
    </div>
  </div>
</div>
