<div id="googlemaps" class="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.118783934464!2d-0.181867584382845!3d38.94411465179372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61e8f85f5acabf%3A0x4ab748599c6337df!2sCarrer%20Metge%20Antelo%2C%2046723%20Almoines%2C%20Val%C3%A8ncia!5e0!3m2!1sca!2ses!4v1592902845813!5m2!1sca!2ses"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h2 class="mb-3 mt-2"><strong>Contacta'ns</strong></h2>
      <div id="logo" class="mx-auto">
         <img alt="Logotipo resti restaurant" class="img-fluid" src="../../assets/images/logo.jpg">
      </div>

    </div>
    <div id="info" class="col-lg-6">

      <h4 class="heading-primary"><strong>Restaurant</strong></h4>
      <ul class="list list-icons list-icons-style-3 mt-4">
        <li><p><i class="fa fa-map-marker"></i><strong>Adreça:</strong> {{adreca}} - {{cp}} {{poblacio}} ({{provincia}})</p></li>
        <li><p><i class="fa fa-phone"></i> <strong>Tel:</strong> {{tel}}</p></li>
        <li><p><i class="fa fa-envelope"></i> <strong>E-mail:</strong> <a href="mailto:{{email}}"> {{email}}</a></p></li>
      </ul>

      <hr>

      <h4 class="heading-primary"><strong>Horari</strong></h4>
      <ul class="list list-icons list-dark mt-4">
        <li><p><i class="fa fa-clock-o"></i> Dilluns -Dijous : Tancat</p></li>
        <li><p><i class="fa fa-clock-o"></i> Divendres- Diumenge: 20:30 a 00:30 h.</p></li>
      </ul>

      <hr>
      <div class="align-center">
        <h4 class="heading-primary"><strong>Segueix-nos</strong></h4>
        <ul class="social-icons">
          <li class="social-icons-facebook"><a href="https://www.facebook.com/" target="_blank" title="Facebook"><i
                class="fa fa-facebook"></i></a></li>
          <li class="social-icons-twitter"><a href="https://www.twitter.com/" target="_blank" title="Twitter"><i
                class="fa fa-twitter"></i></a></li>
          <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/albamateu/" target="_blank" title="Linkedin"><i
                class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>

    </div>

  </div>

</div>
