<div class="col-lg-12 carrusel">
  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
      <li data-target="#carouselHome" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner banner">
      <div class="carousel-item active" data-interval="10000">
        <img src="../../assets/images/restaurante.jpg" class="d-block w-100" alt="Restaurant">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="../../assets/images/plato.jpg" class="d-block w-100" alt="Plat">
      </div>
      <div class="carousel-item" data-interval="10000">
        <img src="../../assets/images/platja.jpg" class="d-block w-100" alt="Platja">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Següent</span>
    </a>
  </div>
</div>
<div id="imagen-logo">
  <img class="mx-auto d-block" src="../../assets/images/logo.jpg" alt="logotipo restaurant">
</div>
<div id="texto" class=" col-lg-8  col-lg-6 offset-lg-2">
  <p class="text-justify">La tendencia culinaria de nuestro restaurante es mantener un buen equilibrio entre la imaginación y el buen gusto por los alimentos.
    Trabajamos cocina mediterránea y pescados frescos por excelencia, acompañado de buenos vinos de nuestra bodega.
    Cada día el restaurante es un punto de encuentro entre huéspedes y conocedores de la buena mesa.</p>
</div>
