  <nav id="navMenu" class="navbar navbar-expand-sm navbar-light">
    <a class=" titulo navbar-brand" href="#">
      <img id="logo" src="../assets/images/logo.jpg" width="70" height="70" class="d-inline-block align-middle" alt="logotipo">
      {{nom}}
    </a>
    <!-- data-target i aria-controls es el nom del id del div que volem ocultar, per aixo porta #davant -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
    aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse menu" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/carta']" [routerLinkActive]="['activado']">{{ 'menuNav.carta' | translate }}</a>
      <a class="nav-item nav-link" [routerLink]="['/reservar']" [routerLinkActive]="['activado']">{{ 'menuNav.reservar' | translate }}</a>
      <a class="nav-item nav-link" [routerLink]="['/contacte']" [routerLinkActive]="['activado']">{{ 'menuNav.contacte' | translate }}</a>
    </div>
    <div class="offset-lg-9 col-lg-2">
      <select #langSelect class="idioma" (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
          {{ lang }}
        </option>
      </select>
    </div>
  </div>
  </nav>

