  <nav id="navMenu" class="navbar navbar-expand-sm navbar-light">
    <a class=" titulo navbar-brand" href="#">
      <img id="logo" src="../assets/images/logo.jpg" width="70" height="70" class="d-inline-block align-middle" alt="logotipo">
      {{nom}}
    </a>
    <!-- data-target i aria-controls es el nom del id del div que volem ocultar, per aixo porta #davant -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
    aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse menu" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Home </a>
      <a class="nav-item nav-link" [routerLink]="['/carta']" [routerLinkActive]="['activado']">Carta</a>
      <a class="nav-item nav-link" [routerLink]="['/reserva']" [routerLinkActive]="['activado']">Reservar</a>
      <a class="nav-item nav-link" [routerLink]="['/contacte']" [routerLinkActive]="['activado']">Contacte</a>
    </div>
  </div>
  </nav>

