<modal-component> </modal-component>
<div class="container-fluid flex-column">
  <div id="imagen">
    <img class="mx-auto d-block" src="../../assets/images/logo.jpg" alt="logotipo restaurant">
  </div>

  <div class="cartes col-lg-10 jumbotron offset-lg-1 mx-auto">
    <h2 class="text-center">
      <strong>Reservar</strong>
    </h2>

    <div class="row col-lg-12 mx-auto ">
      <div id="column-left" class="col-lg-5 offset-lg-1">
        <div class="md-form col-lg-12">
          <calendar (clickedDateEvent)="reciveDate($event)"></calendar>
        </div>
      </div><!-- fin column left -->

      <div id="column-right" class="col-lg-4 offset-lg-1">

        <form #formReserva="ngForm" (ngSubmit)="onSubmit()" id="form-reserva" class="form-horizontal">

          <div id="form-dadesreserva" [ngClass]="{'mostrar': !siguiente, 'ocultar': siguiente}">
            <h4 class="text-center">Quan voldran visitar-nos? </h4>

            <div class="form-group row">
              <label class="col-lg-5 pt-2">Número de persones
              </label>
              <div class="col-lg-7">
                <input type="number" #pers="ngModel" [(ngModel)]="reserva.pers" name="pers" id="pers" max="40" min="1"
                  class="form-control" required>
                <span *ngIf="!pers.valid && pers.touched && pers.errors.required " class="label alert-danger">El número de persones és obligatori</span>
              </div>
            </div> <!-- fin num persones -->

            <div class="form-group row">
              <label class="col-lg-5 pt-2">Sala</label>
              <div class="col-lg-7">
                <select #sala="ngModel" name="sala" [(ngModel)]="reserva.sala" class="form-control" required>
                  <option *ngFor="let sala of sales" [value]="sala.id">{{ sala.nom }}</option>
                </select>
              </div>
            </div> <!-- fin select group -->

            <div class="form-group row">
              <label class="col-lg-5 pt-2"> Dia </label>
              <div class="col-lg-7">
                <input id="calendar-input-web" type="date" #dia="ngModel" name="dia" [(ngModel)]="reserva.dia"
                  class="form-control" value="{{ clickedDate| date: 'yyyy-MM-dd' }}" disabled>
                <input id="calendar-input-mobile" type="date" #dia="ngModel" name="dia" [(ngModel)]="reserva.dia"
                  class="form-control" value="{{ clickedDate| date: 'yyyy-MM-dd' }}"
                  min="{{min| date: 'yyyy-MM-dd'}}" max="{{max| date: 'yyyy-MM-dd'}}">
              </div>
            </div><!-- fin dia -->

            <div class="form-group row">
              <label class="col-lg-5 pt-2"> Hora </label>
              <div class="col-lg-7">
                <input type="time" #hora="ngModel" name="hora" [(ngModel)]="reserva.hora" class="form-control mb-1"
                  step="900" required>
                <span *ngIf="!hora.valid && hora.touched && hora.errors.required" class="label alert-danger">L'hora és obligatoria</span>
              </div>
            </div><!-- fin hora -->

            <span *ngIf="missatge" class="label alert-danger">{{missatge}}</span>

            <input type="text" class="btn btn-light offset-md-10 col-md-2" (click)="next()"  value="Següent"
            [disabled]="!hora.valid || !pers.valid">

          </div>
          <!-- fin primera part info form -->

          <div id="form-dadespersonals" [ngClass]="{'mostrar': siguiente, 'ocultar': !siguiente}">
            <h4 class="text-center">Dades de contacte </h4>
                <div class="form-group row">
                  <label class="col-lg-5 pt-2">Nom i Cognoms
                  </label>
                  <div class="col-lg-7">
                    <input type="text" #nom="ngModel" [(ngModel)]="reserva.nom" name="nom" id="nom" class="form-control" required>
                    <span *ngIf="!nom.valid && nom.touched && nom.errors.required" class="label alert-danger">El nom és obligatori</span>
                  </div>
                </div> <!-- fin nom -->
                <div class="form-group row">
                  <label class="col-lg-5 pt-2">Telèfon
                  </label>
                  <div class="col-lg-7">
                    <input type="tel" #tel="ngModel" [(ngModel)]="reserva.tel" name="tel" id="tel" class="form-control" pattern="(\+34|0034|34)?[ -]*(6|7|9)[ -]*([0-9][ -]*){8}" required>
                    <div *ngIf="tel.touched && !tel.valid">
                      <span *ngIf="tel.errors.required && tel.touched" class="label alert-danger">El telèfon és obligatori</span>
                      <span *ngIf="tel.errors.pattern" class="label alert-danger">El telèfon no és vàlid</span>
                    </div>
                  </div>
                </div> <!-- fin telèfon -->
                <div class="form-group row">
                  <label class="col-lg-5 pt-2">Email
                  </label>
                  <div class="col-lg-7">
                    <input type="email" #email="ngModel" [(ngModel)]="reserva.email" name="email" id="email" class="form-control" pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$" required>
                    <div *ngIf="!email.valid && email.touched">
                      <span *ngIf=" email.errors.required && email.touched"  class="label alert-danger">L'email és obligatori</span>
                      <span *ngIf="email.errors.pattern" class="label alert-danger">L'email no és vàlid</span>
                    </div>
                  </div>
                </div> <!-- fin email -->
                <div class="form-group ">
                  <label class="col-lg-9 pl-1 pr-2">Alguna observació a tenir en compte?
                  </label>
                  <div class="offset-lg-2 col-lg-10 pr-0">
                    <textarea  class="form-control" #coment="ngModel" [(ngModel)]="reserva.coment" name="coment" id="coment"  cols="30" rows="3"></textarea>
                  </div>
                </div> <!-- fin observacions -->

            <div class="form-group row">
              <input type="text" class="btn btn-light col-md-2 offset-md-2 col-sm-2 offset-sm-2" (click)="back()" value="Enrera">
              <button type="reset" class="btn btn-light offset-md-6 col-sm-2 col-xs-2 offset-sm-6"
                [disabled]="!formReserva.form.valid">Reservar</button>
            </div>
          </div>
          <!-- fin segona part info form -->
        </form> <!-- fi formulari -->
      </div> <!-- fin column right -->


    </div>
  </div>
</div>
