<div class="container-fluid">
  <div id="imagen">
    <img class="mx-auto d-block" src="../../assets/images/plato.jpg" alt="logotipo restaurant">
  </div>
  <h2 class="text-center mb-5">
    <strong>Reservar</strong>
  </h2>
  <br>
  <div id="cartes col-xs-12">
    <div class="row col-lg-10 offset-lg-1 mx-auto">
      <div id="carta" class="card col-lg-5 pb-3 mb-5">
        <h5>Calendari per a seleccionar dia i hora</h5>
      </div>
      <div id="carta" class="card col-lg-5 offset-lg-2 pb-3 mb-5">
        <h5>informació per a recopilar</h5>
        <form #formReserva="ngForm" (ngSubmit)="onSubmit()" id="form-reserva">
          <label>Sala</label> <br>
          <select #sala="ngModel" name= "sala" [(ngModel)]="reserva.sala">
            <option *ngFor="let sala of sales" [value]="sala.id">{{ sala }}</option>
          </select>




        </form> <!-- fi formulari -->

      </div>
    </div>
  </div>
</div>
